---
import Container from '$components/container.astro';
import Dropdown from './dropdownMenu.astro';
import { Astronav, MenuItems, MenuIcon } from 'astro-navbar';

import rocket from '$images/cartoon-space-rocket.png';

import {
  Picture,
  breakpoints,
  type PictureSource,
} from 'astro-picture-element';

const sources: PictureSource[] = [
  { width: 28, media: { 'max-width': breakpoints.sm } },
  { width: 35, media: { 'max-width': breakpoints.md } },
  { width: 40, media: { 'max-width': breakpoints.lg } },
  { width: 45, media: { 'max-width': breakpoints.xl } },
];

const menuitems = [
  {
    title: 'Features',
    path: '#',
    children: [
      { title: 'Action', path: '/' },
      { title: 'Another action', path: '#' },
      { title: 'Dropdown Submenu', path: '#' },
      { title: '404 Page', path: '/404' },
    ],
  },
  {
    title: 'Pricing',
    path: '/pricing',
  },
  {
    title: 'About',
    path: '/about',
  },
  {
    title: 'Blog',
    path: '/blog',
  },
  {
    title: 'Contact',
    path: '/contact',
  },
];
---

<Container>
  <header class="my-5 flex flex-col items-center justify-between md:flex-row">
    <Astronav>
      <div class="flex w-full items-center justify-between md:w-auto">
        <a href="/" class="flex flex-row items-center text-lg">
          <Picture src={rocket} width={60} alt="Site logo" {sources} />
          <div class="h-full flex-grow font-bold text-slate-800">Astro</div><div
            class="h-full text-slate-500">
            ship
          </div>
        </a>
        <div class="block md:hidden">
          <MenuIcon class="h-4 w-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="mt-2 hidden w-full md:mt-0 md:flex md:w-auto">
        <ul class="flex flex-col md:flex-row md:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex py-2 text-gray-600 hover:text-gray-900 md:px-3">
                      {item.title}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
  </header>
</Container>
